.chatContainer {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    background-color: rgb(243 244 246);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    scrollbar-width: thin;
    scrollbar-color: rgb(156 163 175) transparent;
}

.dark .chatContainer {
    background-color: black;
}

.chatContainer::-webkit-scrollbar {
    width: 8px;
}

.chatContainer::-webkit-scrollbar-track {
    background: transparent;
}

.chatContainer::-webkit-scrollbar-thumb {
    background-color: rgb(156 163 175);
    border-radius: 4px;
}

.chatContainer::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.chatContainer::-webkit-scrollbar-corner {
    background: transparent;
}